body{
    background-color: aquamarine;
}
div.img {
    float: right;
}
.round{
    border-radius: 25px;
    background: blueviolet;
    padding: 20px;
    width: 800px;
    height: 1550px;}
.ali{
    border-image: round;
}