html{
    background-color: aquamarine;
    font-family:Agbalumo;
}
div.img {
    float: right;
}
.round{
    border-radius: 50px;
    background: blueviolet;
    width: 800px;
    height: 2000px;
    }
.ali{
    border-radius: 50%;
}